<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>セレクト画面</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

  <h2>なにをする？</h2>

  <p>ユーザー名：{{ user.name }}</p>
  <p>チケット：{{ user.ticket }} 枚</p>
  <p>コイン：{{ user.coin }} 枚</p>

  <div class="select-buttons" style="margin-top: 30px;">

    <!-- 勉強 -->
    <a href="/class1">
      <button>📘 べんきょう</button>
    </a>

    <!-- ゲーム（ルーレット） -->
    <a href="/game">
      <button>🎰 ゲーム</button>
    </a>

  </div>

</body>
</html>
